@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *::before, *::after {

}

body {
    font-family: 'Montserrat';
    background-color: #ffa981;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whole-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
}

.dropdown {
    width: 350px;
    margin: 10px 0;
}

.dropdowns {
    display: flex;
    gap: 15px;
}

.navbar {
    padding: 10px 0 30px 0;
    width: auto;
}

.nav-buttons {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px 20px;
    background-color: white;
    border-radius: 10px;
    border: 3px #5f5f5f solid;
    transition: 1s;
}

.nav-buttons:hover {
    transform: scale(1.5);
}

a {
    color: #ff7a3c;
    text-decoration: none;
}

a:visited {
    color: #ff7a3c;
    text-decoration: none;
}

.graph-header {
    margin: 30px 0;
}

.question {
    display: flex;
    margin: 40px 60px;
    gap: 0px;
}

.markdown {
    width: 600px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}

.graphs {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.dropdown-two {
    width: 700px;
    margin: 0 0 10px 0;
}

.home {
    width: 900px;
}

.home-div {
    margin: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}